@charset "utf-8";

div#doge {
	margin: auto;
	width: 100%;
	height: 800px;
	background-image: url("../images/doge-regular.png");
	background-position: center;
	background-repeat: no-repeat;
}

body {
	background-color: hsla(290, 100%, 40%, 1);
  text-align: center; 
	font-family: "Comic Sans MS", "Comic Sans", sans-serif;
}
	
div.encouragement {
	display: none;
	font-size: 72px;
	position: absolute;
}

div#footer {
	position: absolute;
	bottom: 5px;
	right: 5px;
	font-size: 20px;
}

div#footer a {
	color: hsla(50, 100%, 58%, 1);
	text-decoration: none;
}