---
title: Doge Believes in You
---

<div id="doge">
	<div class="encouragement">
		so impress
	</div>
	
	<div class="encouragement">
		such beauty
	</div>
	
	<div class="encouragement">
		very wow
	</div>
	
	<div class="encouragement">
		so amaze
	</div>
	
	<div class="encouragement">
		such hard
	</div>
	
	<div class="encouragement">
		very work
	</div>
	
	<div class="encouragement">
		much good
	</div>
	
	<div class="encouragement">
		wow
	</div>
	
	<div class="encouragement">
		so intellect
	</div>
	
	<div class="encouragement">
		such pride
	</div>
	
	<div class="encouragement">
		very love
	</div>
	
	<div class="encouragement">
		many win
	</div>
	
	<div class="encouragement">
		such winner
	</div>
	
	<div class="encouragement">
		many success
	</div>
	
	<div class="encouragement">
		many hug
	</div>
	
	<div id="footer">
		<a href="https://github.com/lclindeman/dogelove">many clicks, add words</a>
	</div>
</div>



